.*.swp
.*

# Ignore the resulting binary.
dnss

# Help prevent accidental inclusion of certificates and keys.
*.pem
*.crt
*.key

# Ignore the vendor directory - we don't want to embed everything, we use
# glide to track upstream changes, but things should work.
vendor/
