[Unit]
Description = dnss daemon - DNS over HTTPS mode

# Note we get the sockets via systemd, see dnss.socket.
Requires=dnss.socket

[Service]
ExecStart=/usr/local/bin/dnss \
        --dns_listen_addr=systemd \
        --monitoring_listen_addr=127.0.0.1:8081 \
        --enable_dns_to_https


Type = simple
Restart = always

# The user can be created with no permissions using:
#
#   sudo useradd -U dnss -M -d /nonexistent -s /bin/false
User = dnss
Group = dnss

# Simple security measures just in case.
CapabilityBoundingSet = CAP_NET_BIND_SERVICE
ProtectSystem=full


[Install]
Also=dnss.socket
WantedBy = multi-user.target

