# Sockets for dnss in DNS to GRPC mode.
#
# This lets dnss run unprivileged.
# We typically want one UDP and one TCP socket.

[Socket]
ListenDatagram=53
ListenStream=53

[Install]
WantedBy=sockets.target
